/*

Base Styles
===========

HTML, BODY, #wrapper styles

*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {

}

body {
	min-width: 260px;
	overflow-x: hidden;
	width: 100%;
}

.content {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

/* ::Background Colors */
/* ------------------------------------------------------------ */

.bg-yellow {
  background-color: $yellow;
}
