{#
 # Concept entry template
 # ---------------
#}


 {% extends "_layout" %}

{% block content %}

<article class="">

    <div class="content center">
      <h1 class="mb1">{{ entry.title }}</h1>
    </div>

    {% include "_includes/_hero" %}

    <div class="content content-mini flex flex-wrap">
      <section>

        <div class="line-item mb2 clearfix">
        <div class="flex">
          <div class="flex-body main-body">
          <div class="h2 m0">Project Concept</div>

          {{ entry.description }}

          </div>

        {% if entry.sidebar | length %}
          <aside class="mb2 callout bg-yellow">
            {% for block in entry.sidebar %}
            <h3 class="mt0 mb0">{{ block.sidebarTitle }}</h3>
            <p>{{ block.sidebarBody }}</p>
            {% endfor %}
          </aside>
      {% endif %}


      </div>

  {% if entry.estimatedTimeline | length %}
  <hr class="rule">

  <div class="flex justify-between py1">
    <div class="h2 m0">Estimated Timeline</div>
    <div>
      <span class="h3">{{ entry.estimatedTimeline}}</span>
    </div>
  </div>
  {% endif %}

  {% if entry.projectEstimate | length %}
  <hr class="rule">

  <div class="flex justify-between py1">
    <div class="h2 m0">Project Estimate</div>
    <div>
      <span class="h3">{{ entry.projectEstimate }}</span>
    </div>
  </div>
  {% endif %}

  <hr class="rule">

    <h4 class="mb0">Terms</h4>
    <p class="mt0 max-width-2">
      All specific assets, objects, storyboards, or creative direction need to be delivered to CT prior to CT commencement of the project.   The CT content creation and delivery schedule will be based on the date by which all the aforementioned assets are delivered.
    </p>

    <hr class="rule clearfix">

      </section>
    </div>

</article>
{% endblock %}
