/*

Headings
========

    <h1>This is the primary headline</h1>
    <h2>This is the secondary headline</h2>
    <h3>This is the tertiary headline</h3>
    <h4>This is the average headline</h4>
    <h5>This is the small headline</h5>
    <h6>This is the micro headline</h6>

*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $header-font;
}

h1, .h1 {
	@include font-size(48);
	font-family: $header-font-italic;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	&:after {
  content: "-";
	display: block;
	}
}

h2, .h2 {
	letter-spacing: 0.05em;
}

h3, .h3 {
	font-family: $header-font;
	letter-spacing: 0.05em;
}

h4, .h4 {

}

h5, .h5 {
	font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

h6, .h6 {

}
