// - BASE -----------------------------

// colors
$dark:  #333030;
$ocean:  #2b90d9;
$grass: #3ac569;
$snow: #FFFFFF;
$salmon: #ff7473;
$sun: #feee7d;
$alge: #79a8a9;
$flower: #353866;


.btn {
  display: flex;
  overflow: hidden;
  margin: 20px 10px 0 0;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.3;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  &:hover {
    transition: all 60ms ease;
    opacity: .85;
  }

  &:active {
    transition: all 60ms ease;
    transform: scale(.97);
    opacity: .75;
  }
}

.btn.-dark {
  color: $snow;
  background: $dark;
}

.btn.-green {
  color: $snow;
  background: $grass;
}

.btn.-blue {
  color: $snow;
  background: $ocean;
}

.btn.-salmon {
  color: $snow;
  background: $salmon;
}

.btn.-sun {
  color: #f15c5c;
  background: $sun;
}

.btn.-alge {
  color: #f4f7f7;
  background: $alge;
}

.btn.-flower {
  color: #FE8CDF;
  background: $flower;
}

.btn.-border {
  color: $ocean;
  border: 2px solid $ocean;
  background: transparent;

  &:hover, &.-active {
    color: $snow;
    border-color: $ocean;
    background: $ocean;
  }
}

.btn-gradient {
    @include border-gradient($yellow, $teal, 2px);
  }
