/*

Figure & Figcaption
===================

    <figure>
        <img alt="" src="img/tmp/rock-hammer-1.jpg">
        <figcaption>Figure caption</figcaption>
    </figure>

*/

figure {
  margin: 0;
}

figure > img {

}

figcaption {
  @include font-size(14,no);
  color: $lightgrey;
  font-family: $texta-italic;
}
