/*

## Colors

*/


$grey: rgb(103, 103, 103);
$lightgrey: rgb(227, 230, 227);

$blue:  		#0074D9;
$navy:  		#001F3F;
$teal:  		#39CCCC;
$green:	 		#2ECC40;
$olive: 		#3D9970;
$lime:  		#01FF70;
$yellow: 		#F9D839;
$orange:  	#FF851B;
$red:     	#FF4136;

.grey  		  { color: $grey }
.blue  		  { color: $blue }
.navy  		  { color: $navy }
.teal  		  { color: $teal }
.green 		  { color: $green }
.olive 		  { color: $olive }
.lime  		  { color: $lime }
.yellow 	  { color: $yellow }
.orange  	  { color: $orange }
.red     	  { color: $red }
.lightgrey  { color: $red }

.bg-blue  		{ background-color: $blue }
.bg-navy  		{ background-color: $navy }
.bg-teal  		{ background-color: $teal }
.bg-green 		{ background-color: $green }
.bg-olive 		{ background-color: $olive }
.bg-lime  		{ background-color: $lime }
.bg-yellow 		{ background-color: $yellow }
.bg-orange  	{ background-color: $orange }
.bg-red     	{ background-color: $red }
.bg-lightgrey { background-color: $lightgrey }



.muted { opacity: .5 }
